<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="io.github.xxmd">

    <application>
        <activity android:name=".FilePreviewActivity" />
        <activity android:name=".ImagePreviewActivity" />
        <activity android:name=".VideoPreviewActivity" />
        <activity android:name=".AudioPreviewActivity" />
    </application>
</manifest>